
<h1>******* Departments *******</h1>

<%= link_to 'Create new', new_department_path %>
<ul>
  <% @departments.each do |department| %>
  
    <li><%= link_to department.name, department %></li>
    <%= image_tag('bag.jpeg') %>

     <br></br>

  <%= link_to 'Edit', edit_department_path(department) %> 
  <span></span>
  <%= link_to 'Delete', department, method: :delete %>
  <br></br>
  <% end %>

<%= link_to 'Home', root_path %>